@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import './utils';

.hidden {
  display: none;
}

.fl {
  float: left;
}

.fr{
  float: right;
}

.clear-fix {
  clear: both;
}

.loading {
  width: 20px;
  position: absolute;
  left: 0px;
}

.navbar-header {
  padding-left: 40px;
}