alembic
amqplib
celery
lazypy
Markdown
Flask
Flask-Admin
Flask-RESTful
Flask-Script
Flask-MySQLdb
Flask-SQLAlchemy
Flask-WTF
Flask-Bootstrap
importlib;python_version <= '2.7'
importlib2;python_version >= '3.0'
influxdb
MySQL-python;python_version <= '2.7'
pandas
SQLAlchemy
sqlalchemy_schemadisplay
SQLAlchemy-Utils
simplejson
stevedore
setuptools
requests
oslo.utils
oslo.config
tensorflow
