[Unit]
Description=Jupyter Workplace

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/usr/local/bin/jupyter-notebook --allow-root --config=/root/.jupyter/jupyter_notebook_config.py --ip='*' --NotebookApp.token=
User=root
Group=root
WorkingDirectory=/root
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
